*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
}

/*--------------- Default Screen size 1920*1080 -------------*/
html {
    scroll-behavior: smooth;
}

body {
    
    color: white;
    max-height: 200vh;
    overflow-x: hidden;
}

/*------------------------------ Burger menu (start) ---------------------------------*/
input {
    z-index: 9999;
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    display: none;
    position: fixed;
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    z-index: 999;
    cursor: pointer;
    border-radius: 2px;
    /* background-color: red; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
}

input:checked ~ .navbar {
    transform: translateY(-50%) translateX(0);
}
/*------------------------------ Burger menu (end) ---------------------------------*/

/*------------------------------ Nav bar (Start) -------------------------------------*/
input {
    display: none;
}
.navbar {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) translateX(0px);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    width: auto;
    position: relative;
    text-align: right;
}

.navbar ul li .dot {
    color: black;
    display: block;
    padding: 5px 0;
}

.navbar ul li .dot span {
    display: inline-block;
    background: white;
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 30px;
    transform: translateX(30px);
    opacity: 0;
}

.navbar ul li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}

.navbar ul li .dot span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid white;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    display: block;
}

.navbar ul li .dot::before ,
.navbar ul li .dot::after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
    pointer-events: none;
}

.navbar ul li:not(.active) .dot {
    pointer-events: all;
}

.navbar ul li .dot::before{
    height: 5px;
    width: 5px;
    border: 2px solid #ffffff;
    right: 0;
    transform: translateY(-50%);
}

.navbar ul li .dot.active::before ,
.navbar ul li:hover .dot::before {
    border-color: white;
    background: white;
}

.navbar ul li .dot::after{
    height: 15px;
    width: 15px;
    border: 2px solid white;
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbar ul li .dot.active::after ,
.navbar ul li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}
/*------------------------------ Nav bar (End) -------------------------------------*/

/* ----------------------------Container start------------------------------------------ */
.container {
    width: 100%;
    height: 100%;
}

.sec {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.container video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    object-fit: fill;
}
/* ----------------------------Container end------------------------------------------ */

/* ------------------ Home Hi text --------------------- */
#home h1 {
    font-size: 150px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    background-image: linear-gradient(white,white);
    width: 200px;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -200px;
    animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
    100% {
        background-position: 10px 0;
    }
}

.arrow i {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,0) rotate(90deg);
    opacity: 0;
    text-shadow: 0 0 20px rgb(83, 255, 255),
                 0 0 20px rgb(155, 255, 255);
    cursor: pointer;
    animation: blinking 2.5s ease-in-out infinite alternate;
}
@keyframes blinking {
    100%{
        opacity: 1;
    }
}
/*-----------------about --------------------*/
#about {
    width: 100vw;
    height: 100vh;
    /* border: #ffffff solid 1px; */
    /* padding-right: 37px; */
}
.about_row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 3%;
    width: 100vw;
    height: 100vh;
}

.about_col {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/*------------------about contact start---------------*/
#about_contact {
    width: 5vw;
    position: absolute;
    left: 2%;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_contact ul {
    list-style: none;
}

#about_contact ul li a{
    color: white;
    font-size: 35px;
}

#about_contact ul li {
    padding: 10px 0;
}

#about_contact ul li .fa-instagram{
    font-size: 43px;
}

#about_contact ul li i:hover {
    color: #f44366;
    text-shadow: 0 0 10px #ff7994;
}
/*------------------about contact end---------------*/

/*------------------about picture start---------------*/
#about_picture {
    width: 25vw;
    height: 70vh;
    position: absolute;
    left: 11%;
    justify-content: center;
    align-items: center;
}

.picture_slider {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.459);
    border-radius: 55px;
    overflow: hidden;
}

.picture_slider:hover {
    box-shadow: 0 0 20px #89f1ff,
                0 0 20px #32668E;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    display: flex;
    justify-content: center;
}

.img_container {
    /* background: #245578; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    position: relative;
}

.img1 {
    bottom: 12%;
}

.video-container video{
    position: relative;
    width: 25vw;
    height: 100%;
    z-index: 0;
}

/* +++++++++++++++++++++ Manual slide start++++++++++++++++++++ */
.manual_slide {
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.manual_btn {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child){
    margin-right: 30px;
}

.manual_btn:last-child{
    background: none;
}

.manual_btn .fa-play{
    position: absolute;
}

.manual_btn:hover {
    background: #f44366;
}

.manual_btn:last-child:hover {
    background: none;
    color: #f44366;
}



#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* +++++++++++++++++++++ Manual slide end ++++++++++++++++++++ */

/*------------------about picture end---------------*/

/*------------------about content start---------------*/
#about_content {
    width: auto;
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#about_content h1{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: -5px;
}

#about_content p{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 60px;
}

#about_content p span{
    font-size: 55px;
    font-weight: 300;
}
/*------------------about content end---------------*/

/*------------------about quote start----------------*/
.quote {
    height: auto;
    padding-top: 0;
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    bottom: 1%;
}
/*------------------about quote end----------------*/

/*-------------------------------Responsive Start-----------------------------------------*/

/*--------------------------------Start Desktop------------------------------------------*/
@media (min-width: 821px) and (max-width: 1358px){
    /*--- Burger menu ----*/
    .toggle{
        display: none;
        top: 30px;
        right: 30px;
    }
    /*----- Nav bar -----*/
    
    .navbar {
        transform: translateY(-50%);
    }

    .navbar ul li .dot {
        display: 1;
        
    }
    
    .navbar ul li .dot span {
        font-size: 80%;
        padding: 8px 18px;
    }

    .navbar ul li:hover .dot span {
        transform: translateX( 5px);
    }

    .navbar ul li .dot::before{
        height: 5px;
        width: 5px;
        border: 2px solid #ffffff;
    }

    .navbar ul li .dot::after{
        height: 15px;
        width: 15px;
        right: -5px;
        border: 2px solid white;
    }
    /* ------- about --------- */
    .about_row {
        height: 100vh;
    }

    /* ------- about picture ----- */
    .video-container video{
        height: 101%;
    }

    /* ----- about contact ----- */
    #about_contact {
        line-height: 40px;
    }

    #about_contact ul li a{
        font-size: 180%;
    }
    
    #about_contact ul li .fa-instagram{
        font-size: 110%;
    }

    #about_contact ul li .fa-envelope{
        font-size: 100%;
    }

    /* ----- Manual slide ----- */
    .manual_slide {
        bottom: -7%;
        width: 50%;
    }

    .manual_btn {
        width: 12px;
        height: 12px;
        border-radius: 1000px;
    }

    .manual_btn:not(:last-child){
        margin-right: 30px;
    }

    .manual_btn .fa-play{
        font-size: 12px;
    }

    /* -----Home Hi text-----*/
    #home h1{
        font-size: 750%;
    }

    .arrow i {
        font-size: 120%;
    }

    /* ------ about content ----- */
    #about_content {
        right: 12%;
    }
    #about_content h1{
        font-size: 400%;
    }
    
    #about_content p{
        font-size: 110%;
        line-height: 240%;
    }

    #about_content p span{
        font-size: 200%;
    }
    /* ----- about quote ----- */
    .quote {
        bottom: 1%;
        padding-top: 0;
        font-size: 120%;
        height: auto;
    }
}
/*--------------------------------End Desktop------------------------------------------*/

/*----------------------------Start Tablet (Ipad Air)-----------------------------------*/
@media (min-width: 451px) and (max-width: 820px){
    /*--- Burger menu ----*/
    .toggle{
        display: initial;
        top: 30px;
        right: 30px;
    }

    .toggle .common {
        width: 30px;
    }

    .toggle .top_line {
        top: 20%;
    }

    .toggle .bottom_line {
        top: 80%;
    }

    input:checked ~ .toggle .top_line {
        width: 30px;
    }

    input:checked ~ .toggle .bottom_line {
        width: 30px;
    }
    /*----- Nav bar -----*/
    
    .navbar {
        transform: translateY(-50%) translateX(250px);
    }

    .navbar ul li .dot {
        display: 1;
        
    }
    
    .navbar ul li .dot span {
        font-size: 130%;
        padding: 10px 20px;
    }

    .navbar ul li:hover .dot span {
        transform: translateX( -5px);
    }

    .navbar ul li .dot::before{
        height: 5px;
        width: 5px;
        border: 2px solid #ffffff;
    }

    .navbar ul li .dot::after{
        height: 17px;
        width: 17px;
        right: -6px;
        border: 2px solid white;
    }

    /* ----- Container -----*/
    .sec {
        flex-direction: column;
    }
    
    .container video {
        object-fit: cover;
    }

    /* -----Home Hi text-----*/
    #home h1{
        font-size: 1100%;
    }

    .arrow i {
        font-size: 200%;
    }

    /*----- about -----*/
    #about {
        width: 100vw;
        height: 100vh;
    }
    .about_row {
        flex-direction: column;
        margin-bottom: 0;
        height: 100vh;
    }

    /* ----- about contact ----- */
    #about_contact {
        width: 100vw;
        height: 20%;
        margin: 0 0 1% 0;
        position: relative;
        left: 0;
        line-height: 0px;
        padding-top: 1%;
    }
    #about_contact ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about_contact ul li {
        padding: 0 18%;
    }

    #about_contact ul li a{
        font-size: 300%;
    }
    
    #about_contact ul li .fa-instagram{
        font-size: 125%;
    }

    #about_contact ul li .fa-envelope{
        font-size: 120%;
    }

    /* ----- about picture ----- */
    #about_picture {
        width: 60vw;
        height: 44vh;
        position: relative;
        left: 0;
        margin-bottom: 0;
    }

    .video-container video{
        width: 100%;
    }

    .img1 {
        bottom: 30%;
    }

    .img2 {
        bottom: 13%;
    }

    .img3 {
        bottom: 20%;
    }

    .picture_slider {
        border-radius: 50px;
    }
    
    /* ----- Manual slide ----- */
    .manual_slide {
        bottom: -9%;
        width: 50%;
    }

    .manual_btn {
        width: 20px;
        height: 20px;
        border-radius: 1000px;
    }

    .manual_btn .fa-play{
        position: relative;
        font-size: 20px;
    }
    /* ------ about content ----- */
    #about_content {
        text-align: center;
        position: relative;
        right: 0;
        justify-content: start;
        margin-top: 7%;
    }

    #about_content h1{
        font-size: 430%;
        font-weight: 600;
        margin-bottom: -2%;
    }

    #about_content p{
        font-size: 115%;
        letter-spacing: 0.5px;
        line-height: 250%;
    }

    #about_content p span{
        font-size: 200%;
    }
    /* ----- about quote ----- */
    .quote {
        position: relative;
        bottom: 1%;
        padding-top: 0;
        font-size: 150%;
        height: auto;
    }
}
/*----------------------------------End Tablet----------------------------------*/
/*----------------------------------Start Mobile--------------------------------*/
@media (min-width: 0px) and (max-width: 450px){
    /* ----- Burger menu ----- */
    .toggle {
        display: initial;
    }

    /*----- Nav bar -----*/
    .navbar {
        transform: translateY(-50%) translateX(150px);
    }

    .navbar ul li .dot {
        display: 1;
        
    }
    
    .navbar ul li .dot span {
        font-size: 70%;
        padding: 5px 10px;
    }

    .navbar ul li:hover .dot span {
        transform: translateX(6px);
    }

    .navbar ul li .dot::before{
        height: 5px;
        width: 5px;
        border: 2px solid #ffffff;
    }

    .navbar ul li .dot::after{
        height: 15px;
        width: 15px;
        right: -5px;
        border: 2px solid white;
    }

    /* ----- Container -----*/
    .sec {
        flex-direction: column;
    }
    
    .container video {
        object-fit: cover;
    }

    /* -----Home Hi text-----*/
    #home h1{
        font-size: 700%;
    }

    .arrow i {
        font-size: 20px;
    }

    /*----- about -----*/
    #about {
        width: 100vw;
        height: 100vh;
    }
    .about_row {
        flex-direction: column;
        margin-bottom: 0;
        height: 100vh;
    }

    /* ----- about contact ----- */
    #about_contact {
        width: 100vw;
        height: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;
        left: 0;
        line-height: 0px;
    }
    #about_contact ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about_contact ul li {
        padding: 0 18%;
    }

    #about_contact ul li a{
        font-size: 180%;
    }
    
    #about_contact ul li .fa-instagram{
        font-size: 125%;
    }

    #about_contact ul li .fa-envelope{
        font-size: 125%;
    }

    /* ----- about picture ----- */
    #about_picture {
        width: 70vw;
        height: 45vh;
        position: relative;
        left: 0;
        margin-bottom: 0;
    }

    .video-container video{
        width: 100%;
    }

    .img1 {
        bottom: 30%;
    }

    .img2 {
        bottom: 10%;
    }

    .img3 {
        bottom: 15%;
    }

    .picture_slider {
        border-radius: 50px;
    }
    
    /* ----- Manual slide ----- */
    .manual_slide {
        bottom: -9%;
        width: 50%;
    }
    /* ------ about content ----- */
    #about_content {
        text-align: center;
        position: relative;
        right: 0;
        justify-content: start;
        margin-top: 10%;
    }

    #about_content h1{
        font-size: 270%;
        font-weight: 600;
        margin-bottom: -1%;
    }

    #about_content p{
        font-size: 65%;
        letter-spacing: 0.5px;
        line-height: 250%;
    }

    #about_content p span{
        font-size: 200%;
    }
    /* ----- about quote ----- */
    .quote {
        position: relative;
        bottom: 1%;
        padding-top: 0;
        font-size: 90%;
        height: auto;
    }
}
/*----------------------------------End Mobile------------------------------------*/

